/* Main Font Families and the main text color for the website */
* { 
 font-family: Arial, Helvetica, sans-serif;
 color:black;
}
/* Main Part of the css starts here */
body, table{
	max-height:200000px;
	max-width:50000px;
	min-height:500px;
	min-width:1200px;
	height:auto;
	width:auto;
	background-color:#FFFFFF;
}
thead {
	background-color:#f0fbff;
	display:block;
	margin:0;
	padding: 0px;
}		
tbody {
	display:block;
	min-height:375px;
	height:auto;
}
tfoot {
	display:inline-block;
	background-color:#f0fbff;
	font-size:14px;
}
/*This is where the th family color tree starts */
th {
	padding-left:10px;
}
thead th a {
	font-size:17px;
	text-decoration:none;
	display:block;
	padding:12px 16px;
}
a.active {
	background-color:#160d8e;
}	
th a.active:hover {
	font-size:20px;
}
th a:not(.active):hover {
	font-size:20px;
	background-color:#333;
	color:black;
}
th a:last-child {
	padding-right:10px;
}
/* This is where the th family color tree ends */
/* This is where the tfoot family tree starts */
.foottran {
	width:218px;
	background-color: #f0fbff;
	transition: width 3s;
}
.foottran:hover {
	width:1200px;
	font-size:17px;
}