* { 
 font-family: Arial, Helvetica, sans-serif;
 color:white;
}
body {
	max-height:10000px;
	max-width:2500px;
	min-height:300px;
	min-width:200px;
	height:auto;
	width:auto;
	background-color:#1B1B1B;
}
header {
	background-color:#333;
	padding: 4px 16px;
	display:inline-block;
}
header a {
	font-size:17px;
	text-decoration:none;
	display:block;
	padding: 8px 12px;
}
header a.active {
	background-color:#160d8e;
}
